html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
.is-active{
  font-weight: bold;
}
.nav.nav-tabs{
  padding: 1em 20.5%;
  margin-bottom: 1em;
}

.student-valus ul{
  padding: 0;
}
.student-valus ul li{
  margin:0.3em 0;
  list-style: none;
}
